body {
    height: auto;
    width: 75%;
    margin: 0 auto;
    overflow-x: hidden;
}
@font-face {
    font-family: 'consolas';
    src: url('../fonts/consola.ttf');
}
@font-face{
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}
a{
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: none;
    color: #000;
}
section {
    background-color: #fff;
    margin-bottom: 1em;
}
#welcome {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
#welcome h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    font-size: 6em;
    font-family: 'consolas';
    color: transparent;
    text-transform: uppercase;
}
#welcome h2 span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    transition: 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    overflow: hidden;
}
#welcome h2:hover span:nth-child(1){
    transform: translateY(-18px);
}
#welcome h2 span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    transition: 0.5s;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    overflow: hidden;
}
#welcome h2:hover span:nth-child(2){
    transform: translateY(18px);
}
#welcome h2 span:nth-child(3){
position: absolute;
top: 50%;
left: 0;
transform: translateY(-50%) scaleY(0);
width: 100%;
color: #fff;
background: crimson;
font-size: 0.25em;
font-weight: 500;
letter-spacing: 0.7em;
text-align: center;
padding-left: 20px;
margin-left: 5px;
transition: 0.5s;
}
#welcome h2:hover span:nth-child(3) {
    transform: translateY(-50%) scaleY(1);
}
.center {
    position: absolute;
    top: 50%;
    margin-top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.down {
    position: relative;
    width: 25px;
    height: 40px;
    border-radius: 25px;
    background: transparent;
    border: 2px solid #000;
    overflow: hidden;
}
.down::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #000;
    left: 50%;
    top: 10px;
    transform: translate(-50%,0);
    animation: animate 1s linear infinite;
}
.down::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    left: 50%;
    top: 5px;
    transform: translate(-50%,0);
    border-radius: 1px;
}
@keyframes animate {
    0% {
            transform: translate(-50%, 5px);
            opacity: 0;
    }
    50% {
            transform: translate(-50%, 20px);
            opacity: 1;
    }
    100% {
            transform: translate(-50%, 30px);
            opacity: 0;
    }
}
.nav-container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
nav {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8em;
}
.slm {
    font-size: 2rem;
    font-weight: 300;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}
.slm span {
    color: crimson;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}
nav ul li:nth-child(1){
    animation-delay: 0s;
}
nav ul li:nth-child(2){
    animation-delay: .3s;
}
nav ul li:nth-child(3){
    animation-delay: 0.6s;
}
nav ul li:nth-child(4){
    animation-delay: 0.9s;
}
nav ul li:nth-child(5){
    animation-delay: 1.2s;
}
nav ul li:nth-child(6){
    animation-delay: 1.5s;
}
nav ul li a {
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}
nav ul li a:last-child{
    margin-right: 0;
}
nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: crimson;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}
nav ul li a::before{
    top: 0;
    transform-origin: left;
}
nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}
nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scaleX(1);
}
@keyframes slideIn {
    from{
    }
    to {
        transform: translateX(0);
    }
}
#presentation {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.text-presentation {
    display: flex;
    width: 80%;
    background-color: #fff;
    height: auto;
    font-family: "Roboto";
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    line-height: 1.7em;
}
.text-presentation p {
    margin: auto 0;
}
.picture-presentation {
    width: 20%;
    display: flex;
}
#presentation h2 {
   width: 100%;
   font-family: "Roboto";
   text-transform: uppercase;
   letter-spacing: 0.1em;
   margin-bottom: 1.5em;
}

#presentation .text-presentation .guillemets {
    color: crimson;
    font-weight: 700;
    letter-spacing: 2px;
    margin-right: 0.5em;
}

#presentation .text-presentation .dispo {
    background: crimson;
    color: #fff;
    padding: 3px 6px;
    border-radius: 4px;
}

#profil_img {
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 2em auto;
    border: 1px solid crimson;
    border-radius: 50%;
}
.text-presentation p span:nth-child(1) {
    font-weight: bold;
    color: crimson;
    letter-spacing: 0.1em;
}
.text-presentation p a {
    font-weight: bold;
    color: green;
    letter-spacing: 0.1em;
    text-decoration: underline solid olive;
}
#skills {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 900px;
}
.skills-title {
    width: 100%;
    font-family: "Roboto";
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1.5em;
    margin-top: 2em;
    text-align: right;
}
.img-opquast {
    width: 20%;
    display: flex;
    border-right: 2px solid crimson;
}
.desc-opquast {
    display: flex;
    width: 80%;
    background-color: #fff;
    height: auto;
    font-family: "Roboto";
    padding: 1em;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.7em;
}
.desc-opquast p span:nth-child(1) {
    font-weight: bold;
}
.desc-opquast p span:nth-child(3){
    font-style: italic;
}
.desc-opquast p span:nth-child(5){
    font-weight: bold;
}
#opquast_badge {
    width: 100px;
    height: 100px;
    justify-content: center;
    margin: 1em auto;
}

.progress-container {
    width: 100%;
    height: auto;
    margin-top: 6em;
}

.progress-container .box {
    width: 16.6%;
    float: left;
    margin-bottom: 1em;
}

.progress-container .box:nth-child(6) {
    margin-right: 5px;
}

.progress-container .box h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.progress-container .box h2 span {
    font-weight: 100;
}

.progress-container .box .chart {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-family: "Roboto";
    font-size: 42px;
    line-height: 150px;
    margin-bottom: 0.5em;
}

.progress-container .box canvas {
    position: absolute;
    top: 0;
    left: 0;

}

.progress-container .notabene h2 {
    margin-left: 2px;
    font-size: .8em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2em;
}

.other-skills h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 1em auto;
    font-size: 1.5em;
}

.other-skills .other-container p {
    width: 70%;
    margin: auto;
    text-align: center;
}

.other-skills .other-container p span {
    background: #CD5C5C;
    padding: 2px 5px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    margin: 5px 0.5em;
    line-height: 1.9em;
}

#curriculum {
height: auto;
}

#curriculum .cv-title {
    width: 100%;
    font-family: "Roboto";
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 2em;
 
}

#curriculum .cv-container {
    display: flex;
    text-transform: uppercase;
}

#curriculum .cv-container span {
    font-weight: 700;
    color: crimson;
    letter-spacing: 2px;
}

#curriculum .cv-container .cv-localisation {
    font-style: italic;
    font-weight: 200;
    color: black;
    letter-spacing: normal;
}

#curriculum .cv-container .attestation {
    color: crimson!important;
    text-decoration: underline!important;
}

#curriculum .cv-container .cv-left {
    width: 50%;
    border-right: 2px solid crimson;
    padding-right: 1em;

}

#curriculum .cv-container .cv-right {
    width: 50%;
    padding-right: 1em;
}

.cv-left h3 {
    font-size: 1.3em;
    text-transform: uppercase;
    color: crimson;
    text-align: center;
    margin-bottom: 1em;
}

.cv-left ul li {
    padding-bottom: 1em;
}

.cv-right .right-container {
    margin: 6em 0;
}

.cv-right h3 {
    font-size: 1.3em;
    text-transform: uppercase;
    color: crimson;
    text-align: center;
    margin-bottom: 1em;
}

.cv-right ul li {
    padding-bottom: 1em;
}

.curriculum .link-cv {
    display: block;
    text-align: center;
    margin-top: 3em;
    text-decoration: crimson underline solid;
    text-transform: uppercase;

}



#realisations .rea-title {
    width: 100%;
    font-family: "Roboto";
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1.5em;
    margin-top: 2em;
    text-align: right;
}

.slider {
    max-width: 100%;
    display: flex;
}

.slider .card {
    background: #fff;
    flex: 1;
    margin: 0 10px;
    flex-wrap: wrap;
    width: 30%;
    border: 1px crimson solid;
}

.slider .card:hover {
    box-shadow: 0px 3px 5px 0px crimson;
}

.slider .card .img {
    height: 300px;
    width: 100%;
}

.slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider .card .card-content {
    padding: 10px 20px;
    margin: 0 auto;
}

.card .card-content .content-title {
    font-size: 22px;
    font-weight: 600;
    color: crimson;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card .card-content .content-subtitle {
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.card .card-content p {
    text-transform: uppercase;
    text-align: center;
}

.card .card-content p span {
    text-align: left;
    color: crimson;
    word-spacing: 2px;
}

.card .card-content .content-btn {
    display: block;
    text-align: center;
    margin-top: 40px;
}

.card .card-content .content-btn button {
    background: crimson;
    color: white!important;
    padding: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none!important;
    border-radius: 5px;
}

.card .card-content .content-btn a {
    color : white!important;
}


.contact-title {
    width: 100%;
    font-family: "Roboto";
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 2em;
    margin-top: 1.5em;
 
}

.contact-content {
    border: 1px solid crimson;
    border-radius: 8px;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.contact-content img {
    margin-right: 1em;
    margin-left: 2em;
}

.contact-content a {
    text-decoration: underline!important;
    color: crimson;
}


footer {
    font-size: 0.7em;
    color: crimson;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}